<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <% if full_title(yield(:title)) != 'GeekChic Style Guide' %>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header navbar-brand">
          GCSG
            <%= image_tag("logo.png", :id => "img_logo") %> 
        </div>
        <div class = "container" >
          <ul class="nav navbar-nav navbar-right">
            <li role = "presentation" class ="<%= 'active' if current_page?(home_path) %>"><%= link_to "Home", home_path %></li>
            <li role = "presentation" class ="<%= 'active' if current_page?(blog_path) %>"><%= link_to "Blog", blog_path %></li>
            <li role = "presentation" class ="<%= 'active' if current_page?(community_path) %>"><%= link_to "Community", community_path %></li>
            <li role = "presentation" class ="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
            <li role = "presentation" class ="<%= 'active' if current_page?(shop_path) %>"><%= link_to "Shop", shop_path %></li>
            <li role = "presentation" class ="<%= 'active' if current_page?(vlog_path) %>"><%= link_to "Vlog", vlog_path %></li>
            <li role = "presentation" class ="<%= 'active' if current_page?(submit_path) %>"><%= link_to "Submit", submit_path %></li>
          </ul>
        </div>
      </header>


            <%= yield %>


      <div class = "background">
      </div>
    <% else %>
      <div class="container">
          <%= yield %>
      </div>
    <% end %>
  </body>
</html>